<div
  class="contact-wrapper"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  fxLayoutGap="32px"
>
  <section class="contact-hero" fxLayout="column" fxLayoutAlign="center center">
    <h1>Get in Touch</h1>
  </section>

  <form
    [formGroup]="contactForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="contact-form"
  >
    <div fxLayout="row" fxLayoutGap="16px" fxFlex class="message-field">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First Name" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name" />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="16px" fxFlex class="message-field">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" placeholder="Phone Number" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="message-field">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        placeholder="Type the Message"
        formControlName="message"
      ></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="submit()">Send</button>
    </div>
  </form>
</div>
