<footer
  class="footer"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  fxLayoutGap="16px"
>
  <!-- Logo and Company Name -->
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <img src="assets/logo.jpg" alt="Logo" class="footer-logo" />
    <span class="company-name">ASD Business Associates</span>
  </div>

  <!-- Main Info Section -->
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="start start"
    class="footer-info"
  >
    <!-- Address Block -->
    <div fxFlex="1 1 0%" fxFlex.lt-md="100" class="footer-block">
      <h4>Address:</h4>
      <p>Mouchak Tower, Room 802, Level - 7</p>
      <p>83/B, Siddeshwari Circular Road</p>
      <p>Malibag Moor, Dhaka - 1217</p>
    </div>

    <!-- Contact Block -->
    <div
      fxFlex="1 1 0%"
      fxFlex.lt-md="100"
      class="footer-block"
      style="text-align: right"
    >
      <h4>Contact:</h4>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <mat-icon>call</mat-icon>
        <span>+881914332196</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <mat-icon>email</mat-icon>
        <span>asdbizconsulting@gmail.com</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <mat-icon>facebook</mat-icon>
        <span>ASD Business Associates</span>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <p>&copy; 2025 ASD Business Associates</p>
  </div>
</footer>
